/**************************************themeColor**************************************/
//defalut
$black: #101014;
$black-h: #15151b;
$white: #fff;
$white-h: #e0e0e6;
//blue
$blue: #409eff;
$blue-h: #66b1ff;
//green
$green: #67c23a;
$green-h: #85ce61;
$green-o: #f0f9eb;
//gray
$gray: #909399;
$gray-h: #a6a9ad;
$gray-o: #e8ebf0;
//orange
$orange: #e6a23c;
$orange-h: #e0ae62;
$orange-o: #f6eada;
$orange-d: #f2c97d;
//red
$red: #f56c6c;
$red-h: #f78989;
$red-o: #f3c6c6;
$red-d: #e88080;
//pink
$pink: #f6b2bd;
$pink-h: #f5c0c9;
//purple
$purple: #b318b3;
$purple-h: #ee5eee;

/*****************other*****************/
//嫣红
$o-red: #e54d42;
//桔橙
$o-orange: #f37b1d;
//明黄
$o-yellow: #fbbd08;
//橄榄
$o-olive: #8dc63f;
//森绿
$o-green: #39b54a;
// 天青
$o-cyan: #1cbbb4;
$o-cyan-h: #36c7c0;
$o-cyan-o: #c4f8f4;
$o-cyan-d: #63e2b7;
//海蓝
$o-blue: #0081ff;
//姹紫
$o-purple: #6739b6;
//木槿
$o-mauve: #9c26b0;
//桃粉
$o-pink: #e03997;
// 棕褐
$o-brown: #a5673f;
//玄灰
$o-grey: #8799a3;

/**************************************font**************************************/

/*****************family*****************/
//微软雅黑||宋体
$font-family-defalut: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
//楷体
$font-family-kaiti: "KaiTi";

/*****************size*****************/
//pc
$font-size-pc-s: 14px;
$font-size-pc: 16px;
$font-size-pc-b: 20px;

//phone
$font-size-ph-s: 12px;
$font-size-ph: 14px;
$font-size-ph-b: 15px;
